<div class="pt-6 md:pt-10 text-slate-200">
  <div>
    <div class="mb-8">
      <div class="mb-4 font-semibold text-lg">What kind of cinema are you searching for?</div>
      <div class="flex items-center">
        <ng-container *ngFor="let type of cinemaTypes">
          <button
            (click)="updateCinemaType(type.value)"
            [class.bg-pink-600]="cinemaType === type.value"
            class="text-slate-200 font-bold mr-2 text-sm mt-2 py-2 px-4 rounded-full border border-pink-600"
          >
            {{ type.title }}
          </button>
        </ng-container>
      </div>
    </div>
    <div>
      <div class="mb-4 font-semibold text-lg">Select all categories that you want the show or movie to include.</div>
      <div class="flex items-center flex-wrap">
        <ng-container *ngFor="let category of categoryTypes">
          <label
            (click)="toggleCategorySelection(category)"
            class="text-slate-200 font-bold mr-2 mt-2 text-sm py-2 px-4 rounded-full border border-pink-600"
          >
            <input
              type="checkbox"
              [(ngModel)]="selectedCategories"
              name="categories"
              (change)="toggleCategorySelection(category)"
              [value]="category"
              class="hidden"
            />
            {{ category }}
          </label>
        </ng-container>
      </div>
    </div>
    <div class="mt-8">
      <div class="mb-4 font-semibold text-lg">Write any other specifications here. Be as picky as you'd like.</div>
      <textarea
        [(ngModel)]="specificDescriptors"
        class="bg-white/40 border border-white/0 p-2 rounded-md placeholder:text-slate-800 text-slate-900 w-full h-20 font-medium"
        placeholder="Ex. Must have at least 2 seasons and be on Netflix or Hulu."
      ></textarea>
      <button
        (click)="toggleLoading()"
        [class.bg-pink-400]="loading"
        [class.bg-gradient-to-r]="!loading"
        [class.from-pink-700]="!loading"
        [class.via-pink-600]="!loading"
        [class.to-pink-700]="!loading"
        class="mt-4 w-full h-10 text-white font-bold p-3 rounded-full flex items-center justify-center"
      >
        <ng-container *ngIf="loading; else buttonText">
          <app-loading></app-loading>
        </ng-container>
        <ng-template #buttonText>
          <p>Curate My List</p>
        </ng-template>
      </button>
    </div>
  </div>
</div>
